USE [master]
GO
/****** Object:  Database [SampleEntityFramework]    Script Date: 1/2/2023 9:37:17 PM ******/
CREATE DATABASE [SampleEntityFramework]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SampleEntityFramework', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SampleEntityFramework.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SampleEntityFramework_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SampleEntityFramework_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SampleEntityFramework].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SampleEntityFramework]
GO
/****** Object:  Table [dbo].[cSexo]    Script Date: 1/2/2023 9:37:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cSexo](
	[Id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gente]    Script Date: 1/2/2023 9:37:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gente](
	[Id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[edad] [int] NULL,
	[idSexo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Gente]  WITH CHECK ADD  CONSTRAINT [FK_Gente_cSexo] FOREIGN KEY([idSexo])
REFERENCES [dbo].[cSexo] ([Id])
GO
ALTER TABLE [dbo].[Gente] CHECK CONSTRAINT [FK_Gente_cSexo]
GO
USE [master]
GO
